@page
@model LoginModel
<style>
    @@media (max-width: 500px) {
        img {
            width: 180px;
            height: 125px;
        }
    }
</style>
<br />
<h2 class="text-center">Ingresar al sistema</h2>
<hr />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 rounded-left">
        <div style="text-align: center;" class="p-2">
            <img src="https://i.postimg.cc/nVYJW6KS/Asset-26.png" width="375" height="230" alt='logoEmpresa'>
        </div>
        <section class="container">
            <form id="account" method="post">
                <h4 class="text-center">Usa tu correo registrado para ingresar.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"><i class="far fa-user-circle"></i>&nbsp;Usuario</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"><i class="fas fa-unlock-alt"></i>&nbsp;Contraseña</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="m-1" style="text-align: center;">
                    <button type="submit" style="background-color: #4fc685;" class="btn text-white">Ingresar</button>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-1"></div>
</div>
<hr />
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}